:root{
    --header-color:  #FFFFFF;
    --btn-color-wite: #FFFFFF;
    --btn-color-black: #303030;
    --accent-color: #FF6C00;
    --title-color-white:  #FFFFFF;
    --title-color-black: #303030;
} 
p1, h1, h2, h3, h4, h5, h6{
    margin: 0;
}
 
.container{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    
    /* background:  #555555; */
}
ul{
    padding: 0;
    margin: 0;
}

li{
    list-style: none;
}

img{
    display: block;
}
a{
    text-decoration: none;
}
body{
    font-family: 'Open Sans', sans-serif;
  
}
/* ----------------header---------------- */
.header{
    position: absolute;
    width: 100%;
    left: 0;
    padding-top: 32px;
    padding-bottom: 32px;
}

.header-link,
.header-tel
{
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
    text-align: left;
    color: var(--header-color);
    transition: color 300ms linear;
}
.header-logo{
    margin-right: 70px;
}

.current {
    /* color: var(--accent-color); */

}
.current::after {
    content: " ";
    width: 100%;
    height: 5px;
    border-radius: 3px;
}

.header-item:not(:last-child){
    margin-right: 34px;
}

.header-link:hover,
.header-tel:hover
{
    color: var(--accent-color);
}
.header-link:focus,
.header-tel:hover
{
    color: var(--accent-color);
}



/* .header-tel:hover{
    color: var(--accent-color);
} */

.header-btn{
    font-family: inherit;
    font-size: 12px;
    font-weight: 600;
    line-height: 1.33;
    letter-spacing: 0.09em;
    color:var(--btn-color-wite);
    border: 1px solid var(--accent-color);
    border-radius: 25px;
    background-color: transparent;
    min-height: 40px;
    min-width: 160px;
    transition: background-color 300ms linear, color 300ms linear;
    cursor: pointer;
}
.header-btn:hover,
.header-btn:focus {
    color: var(--btn-color-black);
    background-color: var(--accent-color)
}

.heder-container{
    display: flex;
    align-items: center;
}

.header-list{
    display: flex;
     padding-left: 40px;

}
.header-connect{
    margin-left: auto;
}

/* ------------Hero----------- */
.hero{
    /* padding-top: 120px; */

}

.hero-list{
    display: flex;
   transform: rotate(-90deg) translateY(-15px);
   transform-origin: top left;
}
.hero-list::before{
    width: 60px;
    height: 1px;
    content: "";
    background-color: #303030;
    margin-right: 40px;
   margin-top: 10px;
}
.hero-left{
    width: 93px;
    display: flex;
    align-items: flex-end;
    padding-left: 23px;
    padding-bottom: 40px;
}
.hero-item + .hero-item{
    margin-left: 40px;
}

.hero-right{
    background:rgba(32, 32, 32, 0.2);
    background-image: url(../img/Slider-img-3.jpg);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    flex-grow: 1;
    padding: 272px 0 206px 96px;

}

.hero-container{
    display: flex;
}


.hero-link{
    font-size: 11px;
    font-weight: 600;
    line-height: 1.36;
    letter-spacing: 0.2em;
    color: var(--title-color-black);
    transition: background-color 300ms linear, color 300ms linear;

}

.hero-link:hover,
.hero-link:focus{
    color: var(--accent-color);
    
}

.hero-pre-title{ 
    font-size: 11px;
    font-weight: 600;
    line-height: 1.36;
    letter-spacing: 0.1em;
    text-align: left;
    color: #9DA4BD99;

}

.hero-title{
    font-family: 'Raleway', sans-serif;
    font-size: 72px;
    font-weight: 700;
    line-height: 1.18;
    letter-spacing: 0.05em;
    text-align: left;
    color: var(--title-color-white);

}

.hero-after-title{
    font-size: 18px;
    font-weight: 400;
    line-height: 1.66;
    letter-spacing: 0.02em;
    text-align: left;
    color: #9DA4BD;
    max-width: 400px;


}
.hero-img{
    object-fit: cover;
    }

/* ----------------about--------------- */
.about-pre-title{
    font-size: 11px;
    font-weight: 600;
    line-height: 1.36;
    letter-spacing: 0.1em;
    text-align: left;
    color: var(--title-color-black);

}

.about-container{
    display: flex;
}

.about-list{
    display: flex;
    align-items: center;
}

.about-item{
    margin-left: 20px;
}


.about-right{
    flex-grow: 1;
    padding: 272px 0 206px 96px

}

.about-title{
    font-family: "Raleway" sans-serif;
    font-size: 42px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 0.05em;
    text-align: left;
    color: var(--title-color-black);
    margin-bottom: 20px;

}

.about-after-title{
    
    font-size: 18px;
    font-weight: 400;
    line-height: 1.66;
    letter-spacing: 0.02em;
    text-align: left;
    color: #555555;
    margin-bottom: 20px;
    
}

.about-text{
    
    font-size: 14px;
    font-weight: 400;
    line-height: 1.85;
    letter-spacing: 0.02em;
    text-align: left;
    color: #555555;
    margin-bottom: 40px;
}

.about-btn{
    font-family: inherit;
    font-size: 12px;
    font-weight: 600;
    line-height: 1.33;
    letter-spacing: 0.09em;
    color:var(--btn-color-black);
    border: 1px solid var(--accent-color);
    border-radius: 25px;
    background-color: transparent;
    min-height: 40px;
    min-width: 160px;
    transition: background-color 300ms linear, color 300ms linear;
}
.about-btn:hover,
.about-btn:focus {
    color: var(--btn-color-wite);
    background-color: var(--accent-color);
} 
.about{
    padding-top: 139px;
    padding-bottom: 121px;
}

/* ------------------------prices---------------------- */


.prices-box{
    border: 1px solid var(--accent-color);
    background-image: url('/img/Slider\ img\ 2.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 130px;
    padding-bottom: 130px;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.prices-pre-title{
    font-size: 11px;
    font-weight: 600;
    line-height: 1.36;
    letter-spacing: 0.1em;
    text-align: left;
    color: #9DA4BD99;
    margin-bottom: 20px;
   
}

.prices-title{
    font-family: 'Raleway' sans-serif;
    font-size: 42px;
    font-weight: 700;
    line-height: 1.66;
    letter-spacing: 0.05em;
    text-align: left;
    color: var(--title-color-white);
    margin-bottom: 44px;
    
}
.prices-item{
    display: flex;
    justify-content: space-between;
   
}

.prices-item-text{
   font-size: 18px;
   font-weight: 400;
   line-height: 1.66;
   letter-spacing: 0.02em;
   text-align: right;
   color: #9DA4BD;
   margin: 0;
   
}

.left{
    width: 585px;
    height: 240px;
    background: linear-gradient(180deg, #171A24 0%, rgba(23, 26, 36, 0.2) 100%);
    padding: 30px 40px;
    gap: 20px;
    display: flex;
    flex-direction: column;
}

.right{
    width: 585px;
    height: 240px;
    background: linear-gradient(180deg, #090B13 0%, rgba(9, 11, 19, 0.2) 100%);
    padding: 30px 40px;
    gap: 20px;
    display: flex;
    flex-direction: column;
}

   

.price-list-box{
    display: flex;
    width: 100%;
    height: 100%;
    margin-bottom: 55px;

}
.prices-btn{
    width: 160px;
    margin-left: auto;
    margin-right: auto;
}


    /* ----------------------reasons--------------------- */
.reasons{
    padding-top: 130px;
    padding-bottom: 103px;
    background: #F7F7F7;

}

.reasons-digit{
    font-size: 42px;
    font-weight: 700;
    line-height: 1.36;
    letter-spacing: 0.05em;
    text-align: center;
    color: var(--title-color-black);
}

.reasons-pre-title{
    font-size: 11px;
    font-weight: 600;
    line-height: 1.36;
    letter-spacing: 0.1em;
    text-align: left;
    color: var(--title-color-black);
}

.reasons-title{
    font-family: 'Raleway' sans-serif;
    font-size: 42px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.05em;
    text-align: left;
    color: var(--title-color-black);
}

.reasons-after-title{
    font-size: 18px;
    font-weight: 400;
    line-height: 1.67;
    letter-spacing: 0.02em;
    text-align: left;
    color: #555555;
}
/* -------------------masters------------------------ */
.masters{
    padding-top: 130px;
    padding-bottom: 130px;
    background: #F7F7F7;
}
.masters-img{
   object-fit: cover;
}

.masters-list{
display: flex;
}

.master-item{
    flex-basis: calc((100% - 90px) / 3);
    margin: 15px;
    position: relative;
    
}
.master-item:hover .masters-img-text{
    transform: translateY(0);
    opacity: 1;
}


.master-item:not(:last-child){
    margin-right: 30px;
}

.masters-img-text{
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    background: #ffcc0167;
    height: 100%;
    width: 100%;
    color: #FFFFFF;
    padding: 40px;
    transform: translateY(100%);
    transition: 300ms;
    opacity: 0;
    overflow: auto;
   
}

.master-item-wrap{
    position: relative;
    overflow: hidden;

}

.masters-social-item{
    width: 44px;
    height: 44px;
    background: teal;
    border-radius: 50%;
}

.masters-social-item{
    height: 44px;
    width: 44px;
}
.masters-social-list{
   display: flex;
   justify-content: center;
   height: 44px;
}


.masters-pre-title{
    font-family: "Open Sans" sans-serif;
    font-size: 11px;
    font-weight: 600;
    line-height: 1.36;
    letter-spacing: 0.1em;
    text-align: left;
    color: var(--title-color-black);
}

.masters-title{
    font-family: 'Raleway' sans-serif;
    font-size: 42px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.05em;
    text-align: left;
    color: var(--title-color-black);
}

.master-item-title{
    font-family: "Open Sans" sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: calc(25 / 18);
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--title-color-black);
    margin-top: 10px;
}

.master-item-text{
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0.02em;
    text-align: center;
    color: #FF6C00;

}
/* ------------------------------gallary------------------------- */
.gallary{
    padding-top: 130px;
    padding-bottom: 130px;
    /* background: #6f4949; */
}

.gallary-pre-title{
    font-family: Open Sans;
    font-size: 11px;
    font-weight: 600;
    line-height: calc(15 / 11);
    letter-spacing: 0.1em;
    text-align: left;
    color: var(--title-color-black);
}
.gallary-list{
    display: flex;
    justify-content: center;
    align-items: center;
}
.gallary-item{
    margin: 10px;
}

/* --------------------------------section online------------------- */
.online-contact{
    width: 1200px;
    margin: 0 auto;
    border: 1px solid red;
    display: flex;
}

.left-box{
    width: 625px;
    height: 644px;
    top: 4254px;
    left: 656px;
    gap: 0px;
    opacity: 0px;
    background: #191C26;


}

.right-box{
    width: 625px;
    height: 644px;
    top: 4254px;
    left: 656px;
    gap: 0px;
    opacity: 0px;
    background-image: url('/img/BBS-contact-box.png');
    background-repeat: no-repeat;
    background-size: cover;
  

}





/* -----------------------footer--------------------- */



.footer{
    position: relative;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    /* border: 1px solid red; */
    padding-bottom: 25px;

}

.footer-copy{
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translate(50%);
}

.footer-list{
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translate(50%);

}


.online{
    width: 640px;
    height: 322px;
}

.contact{
    width: 640px;
    height: 322px;
}
/* --------------------modal-------------------- */

.beckdrop{
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: #191c2688;
    transition: 300ms;
   
}

.modal{
    position: absolute;
    width: 700px;
    height: 500px;
    background-color: #9DA4BD;
    top: 50%;
    left: 50%;
    transform: translate( -50% , -50% );
    transition: 300ms;
   
    
}

.modal-close{
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #FF6C00;
    cursor: pointer;
    right: 10px;
    top: 10px;
    background-color: none;
    transition: 300ms;
    
}

.modal-close:hover {
    color: var(--btn-color-wite);
    background-color: var(--accent-color);
   
} 

.is-hidden{
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transform: rotate(360);
}


