.online-contact{
    display: block;
    @media screen and (min-width: 768px){
        position: relative;
        width: 1200px;
        margin: 0 auto;
        display: flex;
    }
}
.heder-contact{
    font-family: 'Raleway', sans-serif;
    font-size: 42px;
    font-weight: 700;
    line-height: 49.31px;
    color: #FFFFFF;
    margin-bottom: 44px;
    text-align: center;
    @media screen and (min-width: 768px){
        text-align: left;
    }
}
.input-wrap{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 44px;
    @media screen and (min-width: 768px){
        display: flex;
        gap: 30px;
        margin-bottom: 44px;
    }
}
.input-stile{
    border: none;
    border-bottom: 1px solid white;

    background: transparent;
    width: 270px;
    color: white;
}
.input-mesage{
    border: none;
    width: 100%;
    height: 76px;
    resize: none;
    background: transparent;
    border-bottom: 1px solid white;
    color: white;
    @media screen and (min-width: 768px){
        width: 560px;
    }
    
}
.form-online{
    display: flex;
    flex-direction: column;
}
.form-online>button{
    margin-top: 44px;
    margin-left: 0;
}
.left-box{
        width: 100%;
        height: 644px;
        background: #191C26;
        padding: 80px 30px;
    @media screen and (min-width: 768px){
        width: 655px;
        height: 644px;
        background: #191C26;
        padding: 136px 40px 200px 55px;

    }
    
}
.right-box{
    width: 100%;
    height: 644px;
    background-image: url('../img/Bg.png');
    background: #191C26;
    padding: 80px 30px;
    @media screen and (min-width: 768px){
        width: 625px;
        height: 644px;
        
        background: #191C26;
        background-image: url('../img/Bg.png');
        background-repeat: no-repeat;
        background-size: cover;
        padding-left: 99px;
        padding-top: 130px;
    }
}
/* .box-shadow{
    width: 100%;
    height: 100%;
    background: #111319a5;
    padding-left: 99px;
    padding-top: 130px;

} */

.contact-ul{
    margin-top: 40px;
}
.time-work{
    display: flex;
    align-items: center;

    margin-top: 70px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    line-height: 14.98px;
    color: #F7F7F7;

}
.time-work::before{
    width: 60px;
    height: 1px;
    content: "";
    background: #9DA4BD66;
    margin-right: 20px;


}
.time-day{
    margin-top: 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: #9DA4BD;



}
.stile-link-footer{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: #9DA4BD;
}
.stile-link-footer:hover{
    color: white;
}

